{% extends 'base.html' %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th class="col">Номер</th>
      <th class="col">Логин</th>
      <th class="col">Пароль</th>
      <th class="col">Дата добавления</th>
    </tr>
  </thead>
  <tbody>
    {% for account in accounts %}
      <tr>
        <td>{{ account.id }}</td>
        <td>{{ account.login }}</td>
        <td>{{ account.password }}</td>
        <td>{{ account.added_date }}</td>
        <td>
          <a href="{{ url_for('.del_acc', id=account.id) }}" class="btn btn-outline-danger" role="button">Удалить аккаунт</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
